.container1{
    display: flex;
    /* border: 2px solid red; */
    flex-direction: row;
    width: 95vw;
    margin: 0px 20px;
    height: 100vh;
}
.leftside{
    /* border: 2px solid green; */
    width: 30.3%;
    height: 100vh;
    /* position: sticky; */
    margin-right: 0px;
    padding: 11px 17px;
    background-color: black;
    color: white;
}
.rightside{
    /* border: 2px solid green; */
    width: 80%;
    padding: 11px 17px;
    height: 100vh;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

.box{
    border: 2px solid black;
    width: 95%;
    height: 14em;
    padding: 5px;
    margin: 6px;
    font-size: 0.9em;
    justify-content: center;
    border-radius: 8px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between;*/
    transition: all 0.5s ease-in-out 0.3s;
}
.box:hover{
    background-color: grey;
    color: white;
}
.innerbox1{
    overflow: hidden;
}
.innerbox2{
    float: right;
}


.imagelogo
{    display: block;
    height: 35vh;
    width: 100%;
    margin: 50px 0px;
}

.leftbox
{    border: 2px solid white;
    border-radius: 28px;
    justify-content: center;
    padding: 8px;
    margin: 30px 7px;
    width: 94%;
    display: flex;
}

.name{
    justify-content: center;
    display: flex;
    width: 94%;
    height: 58px;
    margin: 6px 8px;
    /* border: 2px solid; */
    padding: 3px;
    font-size: 2em;
}
/* 
.body{
    width: 90vw;
} */
.alinks {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

.grid-container {
    display: grid;
    /* grid-auto-columns: auto; */
    /* grid-column-gap: 2px; */
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto;
}